.container-box {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-box div {
  float: left;
  width: 25%;
}

@media screen and (max-width: 1200px) {
  .container-box div {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .container-box div {
    width: 100%;
  }
}

