/* 셀렉터의 우선순위
 style="" (1000점)
#id (100점)
.class (10점) 
p (1점) */
img { /* 이미지 정렬과 조정 */
  width: 150px;   /* 이미지 폭 조절 */

  /* 이미지 가운데 정렬 */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#special {font-size: 20px;}/* 아이디 */
.profile {font-size: 20px;} /* 클래스 */

 